<html>
<head> <!-- 1. Load libraries -->
  <%= javascript_include_tag "jquery.js" %>
  <%= javascript_include_tag "bootstrap.js" %>
  <%= javascript_include_tag "socketcluster.js" %>
  <%= stylesheet_link_tag "bootstrap.css" %>


  <script src="/assets/intl/dist/Intl.js"></script>
  <script src="/assets/intl/locale-data/jsonp/en.js"></script>
  <script src="/assets/es6-shim/es6-shim.min.js"></script>
  <script src="/assets/systemjs/dist/system-polyfills.js"></script>
  <script src="/assets/angular2/bundles/angular2-polyfills.js"></script>
  <script src="/assets/systemjs/dist/system.src.js"></script>
  <script src="/assets/rxjs/bundles/Rx.js"></script>
  <script src="/assets/angular2/bundles/angular2.dev.js"></script>
  <script src="/assets/angular2/bundles/http.dev.js"></script>
  <script src="/assets/angular2/bundles/router.dev.js"></script>

</head>
<body>

<script>
  System.config({
    map: {
      'app': '/app',
//      "socket.io-client": "/socket.io-client/socket.io.js"
    },
    packages: {
      'app': {
        format: 'register',
        defaultExtension: 'js',
      },
//      "socket.io-client": {"defaultExtension": "js"}
    }
  }); // and to finish, let's boot the app!
  System.import('app/chat/test_socket.component');
</script>

<test-socket></test-socket>

</body>
</html>
