<%= javascript_include_tag "bootstrap.js" %>
<%= stylesheet_link_tag "bootstrap.css" %>

<div class="container">
  <div class="row">
    <h2> Store : <%= params[:username] %></h2>
    <hr>
  </div>
</div>